@import "tailwindcss";

@theme {
  --color-defaultGreen: #80C57A;
  --color-defaultBlue: #19499D;
  --color-defaultBrown: #4B3A32;
  --color-defaultYellow: #FFF8BA;
  --color-defaultPink: #dd7373;
  --color-defaultRed: #8c001a;
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE, Edge */
  scrollbar-width: none;     /* Firefox */
}

html {
  background-color: black;
}
/* 
p, h1, h2, h3, h4, h5 {
  cursor: pointer;
} */

@keyframes floating {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.animate-floating {
  animation: floating 3s ease-in-out infinite;
}

/* Slide + fade CSS animations */

.slide-in-right {
  transform: translateX(100%);
  opacity: 0;
  animation: slideInRight 0.5s forwards;
}

.slide-in-left {
  transform: translateX(-100%);
  opacity: 0;
  animation: slideInLeft 0.5s forwards;
}

.slide-out-left {
  transform: translateX(0%);
  opacity: 1;
  animation: slideOutLeft 0.5s forwards;
}

.slide-out-right {
  transform: translateX(0%);
  opacity: 1;
  animation: slideOutRight 0.5s forwards;
}

/* Keyframes */
@keyframes slideInRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes slideOutLeft {
  0% {
    transform: translateX(0%);
    opacity: 1;
  }
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}

@keyframes slideOutRight {
  0% {
    transform: translateX(0%);
    opacity: 1;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}
